version: '3.8'

services:
  backend:
    build:
      context: ./Back
    ports:
      - "8000:8000"
    env_file:
      - /Back/core/.env

  frontend:
    build:
      context: ./Front
    ports:
      - "3000:80"